---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import GmailIcon from "../components/icons/Gmail.astro";
import SectionContainer from "../components/SectionContainer.astro";

import SocialPill from "../components/SocialPill.astro";
---

<Layout
  title="Conoce a Fran Serafini: Desarrollador BackEnd y Analista de Datos"
  description=""
>
  <main>
    <SectionContainer class="py-12 pb-8">
      <h1 class="text-white text-5xl font-bold flex justify-center flex-row">
        Hola, soy Fran <a
          href="https://www.linkedin.com/in/francisco-serafini-giorgi/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        Desarrollador Backend y Analista de Datos Junior
      </h2>
      <p>
        Soy un apasionado de la programación con un enfoque en el desarrollo
        backend y el análisis de datos. Me encanta resolver problemas complejos
        y transformar datos en información valiosa. Siempre estoy en busca de
        nuevas oportunidades para aprender y crecer profesionalmente.
      </p>
	  <br>
      <nav class="flex gap-x-2 mt-8 flex justify-center flex-row" >
        <SocialPill href="https://www.linkedin.com/in/francisco-serafini-giorgi/">
          <LinkedinIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/FranciscoSerafini" >
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:franciscoserafinigiorgi@gmail.com">
          <GmailIcon class="size-6" />
          Gmail
        </SocialPill>
      </nav>
    </SectionContainer>
  </main>
</Layout>
