---
// Importa los componentes necesarios
import Header from '../components/Header.astro';
import "@fontsource-variable/onest"
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
        :root {
            color-scheme: light dark;
        }

        html {
            font-family: 'Onest Variable' system-ui, sans-serif;
        }

        body {
            background-color: #050505;
            display: flex;
            justify-content: center;
            height: 100vh;
            margin: 0; /* Agrega margin 0 para evitar espacios no deseados */
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            width: 100%;
            max-width: 1120px;
        }

        nav a {
            color: white; /* Asegúrate de que los enlaces sean visibles sobre el fondo oscuro */
            margin-right: 1rem;
            text-decoration: none; /* Quita el subrayado para los enlaces */
        }

        img {
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
        }
    </style>
</head>
<body>
    <Header/>
</body>
</html>

